//- переменные

- var testListContent = ['Item1', 'Item2', 'Item3'];

- var navs = [ {name: 'Продукты', link: '/'}, {name: 'Технологии', link: '/'}, {name: 'Experience', link: '/'} ];

- var socials =[{icon: 'icon-tw', url: '#'}, {icon: 'icon-inst', url: '#'},];

- var bannerContent = [{title: 'HDR DISPLAY', icon: 'icon-1', text: 'Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.'}, {title: 'INPUT LAG', icon: 'icon-2', text: 'Мониторы с технологией G-SYNC обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров.'}, {title: 'HIGH REFRESH RATE', icon: 'icon-3', text: 'NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц.'}, {title: 'WIDE COLOR GAMUT', icon: 'icon-4', text: 'Современные мониторы G-SYNC ULTIMATE поддерживают цветовой охват DCI-P3, обеспечивая более реалистичную цветопередачу с плавными переходами.'}]
