section.advantage
    .container
        .advantage__title
            h1 ПРЕИМУЩЕСТВА G&#8209;SYNC
        .advantage__content
            p Каждый монитор с технологией G&#8209;SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G&#8209;SYNC.