section.banner
    .container
        .banner__cards
            each card in bannerContent
                +bannerCard(card)
        .banner__button
            .btn.btn--submit КУПИТЬ
        //- include ../../test-block

        //- a(href='#helloModal' data-toggle="modal") Ссылка
