section.banner
    .container
        .banner__cards
            each card in bannerContent
                +bannerCard(card)
    .container
        .banner__button
            button.btn.btn--submit КУПИТЬ
