.btn {
    @extend %dfc;
    height: 56px;
    padding: 0 44px;
    cursor: pointer;
    text-transform: uppercase;

    @media (min-width: 768px) {
        width: 160px;
        margin: 0 auto;
    }

    &--submit {
        background-color: $active-color;
        border: 2px solid $active-color;
        transition: box-shadow .3s ease-in-out, background-color .3s ease-in-out;

        &:hover,
        &:active {
            background-color: $black;
            box-sizing: border-box;
            box-shadow: 0px 0px 10px #77B900;
        }
    }
}