// глобальные стили кроме normalize
:root {
	box-sizing: border-box;
}

.body {
	min-height: 100vh;
	margin: 0;
	font-family: $font-family-base;
	background: $black url(../img/bg_mobile.jpg) center center no-repeat;
	background-image: url(../img/bg_mobile.webp);
	background-size: 100% 100%;
	overflow-x: hidden;

	@media (min-width: 600px) {
		background: url(../img/bg.jpg);
		background-image: url(../img/bg.webp);
		background-size: cover;
	}
}

.container {
	@include make-container();
	@include make-container-max-widths();
	max-width: 1190px;
}

img {
	@include img-fluid();
}

svg path {
	fill: inherit;
}
