.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $black;

    .container {
        @extend %dfsb;
        height: 56px;
        padding: 0 0 0 15px;
    }

    &__logo {
        margin: 0 10px 0 0;

        &:hover svg {
            transform: scale(1.05);
        }

        svg {
            transition: transform .3s ease-in-out;
        }
    }

    &__nav {
        position: absolute;
        z-index: 2;
        top: 100%;
        left: 0;
        display: none;
        width: 100%;
        height: calc(100vh - 56px);
        padding: 0 0 132px;
        background-color: black;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        &.is-open {
            display: block;
            opacity: 1;
        }
    }

    &__nav-links {
        padding: 1px 0 0;
    }

    &__nav-link {
        display: block;
        font-size: 16px;
        margin: 28px 0;
        line-height: 28px;
        letter-spacing: 0.3px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: $white;

        &:hover {
            color: $active-color; // не по макету
            opacity: 0.85;
            transition: color .3s ease-in-out;
        }
    }

    &__nav-socials {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 132px;
        padding: 41px 0 0;
        text-align: center;
    }

    &__nav-soc {
        margin: 0 4px;
    }

    &__burger {
        @extend %dfc;
        flex-direction: column;
        width: 56px;
        height: 56px;
        transition: background-color 0.15s ease-in-out;
        cursor: pointer;

        span {
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 2px;
            margin: 2px 0;
            border-radius: 2px;
            background-color: $white;
        }

        &.is-active {
            background-color: $active-color;
        }
    }

    @media (min-width: 900px) {
        position: relative;

        .container {
            height: 90px;
            padding: 0 22px 0 53px;
        }

        &__logo svg {
            width: 81px;
            height: 60px;
        }

        &__nav {
            position: relative;
            top: auto;
            left: auto;
            display: flex;
            justify-content: space-between;
            flex: 1;
            width: auto;
            height: 100%;
            padding: 0;
            margin: 0 auto 0 0;
            opacity: 1;
        }

        &__nav-links {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 0 0 6px;
        }

        &__nav-link {
            margin: 0 24px;
        }

        &__nav-socials {
            position: relative;
            top: auto;
            left: auto;
            display: flex;
            width: auto;
            height: 100%;
            padding: 0;
            margin: 0 0 0 auto;
        }

        &__nav-soc {
            margin: 21px 5px 0;
        }

        &__burger {
            display: none;
        }
    }
}